<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.domino.mapper.MemberMapper">


	<!-- 회원가입 쿼리 -->
	<insert id="insertMember" parameterType="Member">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			select
			dominomember_seq.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO dominoMember(
		no,
		id,
		PW,
		name,age,birthday,gender
		)
		VALUES(#{no},#{id},#{pw},#{name},#{age},#{birthday},#{gender})
	</insert>

	<!-- 로그인할 때 id를 매개로 멤버를 받아오는 쿼리 -->
	<select id="selectOneMemberById" parameterType="String"
		resultType="Member">
		select id,pw from dominoMember where id = #{id,
		jdbcType=VARCHAR} and enabled = 1
	</select>



	<!-- id를 매개로 특정 사용자의 권한 리스트를 받아오는 조인 쿼리 -->
	<select id="selectMemberAuthListById" parameterType="String"
		resultMap="MemberMap">
		select D.no, D.id,D.name,D.age,D.birthday,D.gender,A.auth from dominoMember D join
		memberAuth A on
		D.no =A.no where D.id = #{id, jdbcType=VARCHAR} and D.enabled = 1
	</select>

	<resultMap type="Member" id="MemberMap">
		<id property="no" column="no" />
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="age" column="age" />
		<result property="birthday" column="birthday" />
		<result property="gender" column="gender" />
		<collection property="memberAuthList" resultMap="authMap" />
	</resultMap>

	<resultMap type="MemberAuth" id="authMap">
		<result property="no" column="no" />
		<result property="auth" column="auth" />
	</resultMap>

	<resultMap type="Member" id="MemberMap2">
		<id property="no" column="no" />
		<result property="name" column="name" />
		<result property="age" column="age" />
		<result property="gender" column="gender" />
	</resultMap>

	<!-- 모든 사용자를 받아옴 -->
	<select id="selectAllOfMembers" resultMap="MemberMap2">
		select no,name,age,gender from dominoMember where enabled = 1
	</select>

	<!-- no를 매개로 특정 사용자의 권한 리스트를 받아오는 조인 쿼리 -->
	<select id="selectOneMemberByNo" parameterType="long"
		resultMap="MemberMap">
		select D.no, D.id,D.name,D.age,D.birthday,D.gender,A.auth from dominoMember D join
		memberAuth A on
		D.no =A.no where D.no = #{no} and D.enabled = 1
	</select>


	<update id="updateMember" parameterType="Member">
		update dominoMember set
		id = #{id},
		name=#{name},
		age=#{age},
		birthday=#{birthday},
		gender=#{gender}
		 where no = #{no}
	</update>
	
	<delete id="deleteMember" parameterType="long">
		update dominoMember set enabled = 0 where no = #{no} and enabled = 1
	</delete>




</mapper>